/**
 First External CSS Stylesheet
 **/

/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.
*/



/* Create a sticky/fixed navbar  /  Bush code 
---------------------------------------------------------------------------------------------------*/
#topbar {
  background-color: rgb(6, 139, 10);
  color: white ;
  font-weight: bold;
  position: fixed;
  width: 100%;
  padding: 10px 10px;
  z-index: 100;

}
#navbar {
  overflow: hidden;
  background-color: white;
  padding: 70px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 30; /* At the top */
  z-index: 99;
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  border-radius: 40px;
}

/* Style the logo */
#navbar #logo {
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s;
  margin-left: 20px;
  padding: 12px;
  border: solid silver;
  border-width: 4px;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: rgb(6, 139, 10);
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    /* float: none; */
  }
}

 #banner{
    background-image: url("../imgs/17.jpg"); /* The image used */
    width: 100%;
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */'
    position: relative;
  }
  #banner-text{
    position: absolute;
    top: 300px;
    left:20%;
    opacity: 0.8;
    padding: 100px;
    word-spacing: 20px;
    color:white; 
    font-size: 100px;
    font-family: Impact,sans-serif;
    display: flex;
  }
  /* Text scroll affect  */
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1.5s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/* responsive hamburger shirk  */





/* page container */

.page-container{
  width: 100%;
  background-color: white;
  height: 2200px;
}
.silver-band{
  background-image: url("../imgs/cubes.png");
  background-repeat: repeat;
  background-color: #f5f2f2;
  padding: 40px 0px 0px 0px;
  color: rgb(6, 139, 10);
  width: 100%;
  height: 700px;
  text-align: center;
  font-size:30px;
  font-weight: bold;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 40px 0px;

}
.flash-card{
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 12px rgb(0 0 0 / 10%);
}
.flash-card2{
  width: 350px;
  margin: 30px 0px 0px 0px;
  height: 400px;
  background-color: white;
}
.card-title{
font-size: 30px;
color: #000;
padding: 50px 2px;
}
.card-text{
  line-height: 1.5;
  word-spacing: .5;
  font-size: 17px;
  color:#000;
  padding: 13px 20px 0px 20px;
  font-weight: lighter;
}
.buttongreen {
  background-color: rgb(6, 139, 10);
  width: 210px;
  border-radius: 30px;
  padding: 7px;
  color:white;
  font-size: 17px;
  margin-left: 80px;
  }
  .Gray-Band{
  background-color:rgb(183, 183, 183);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  width: 100%;
  }
 .Gray-left{
  width: 40%;
  padding: 10px;
  font-weight: bold;
  word-spacing: 1.5;


 }
 .Gray-right{
  width: 40%;
  padding: 20px;
  font-weight: bold;
  word-spacing: 1.5;
 }
 .buttongreen2 {
  background-color: rgb(6, 139, 10);
  width: 130px;
  border-radius: 30px;
  padding: 7px;
  color:white;
  font-size: 17px;
  text-align: center;
  margin: 70px 30px 0px 230px;
  }

.footer{
  background-image: linear-gradient(180deg, rgb(124, 195, 124),rgb(201, 245, 203));
  width: 100%;
  height: 300px;
}
/*
----------------------------------------------------------------------
 lamont code below*/




/* .myBg{
    background: #01060b;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: #FFF;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px; */
   
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  
}
a {
  
  color: white;
}
h3 {
  text-align: center;
}

.btn {
  padding: 5px 5px 5px 25px;
   position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
    float: left
}


.round {
    width: 10%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
} */
/* .top-container {
  background-color: #18e287;
  padding: 15px;
  text-align: center;
} */

/* .header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  background:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
} */

/* .content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
} */

/* a {
    "text-color" modified inline html as text-white
} */




/* body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: rgb(4, 0, 0);
    background-color: transparent;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: left;
  }
  
  h2 {
   
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #eee;
    text-align: right;
  }
  h3 {
    padding: 20x 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #eee;
    text-align: left;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu-right {
float: right;
  }
  a {
    color: #10d284;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  } 